<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            {% for item in site.data.navs.left %}
            <li class="nav-item">
                <a class="nav-link {{item.classes}}" href="{{ item.href }}">{{ item.link_name }}</a>
            </li>
            {% endfor %}
        </ul>
        <ul class="d-inline my-2 my-lg-0">

            <button class="btn btn-outline-success my-2 my-sm-0">InvitePlaceholder</button>
        </ul>
    </div>
</nav>