<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand btn btn-success text-success"  style="background-color: darkslategrey" href="/">{{ site.title }}</a>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item text-light">
                <a class="nav-link bg-success" href="/"><i class="fas fa-home fa-2x"></i> Home <span class="sr-only">Root Page</span></a>
            </li>
            {% for item in site.data.navs.left.items %}
            <li class="nav-item text-light">
                <a id="{{ item.link_urlname }}" class="nav-link bg-success {{item.classes}}" href="{{ item.href }}">{{ item.pre_content_icons }} {{ item.link_name }}</a>
            </li>
            {% endfor %}
        </ul>
        <ul class="d-inline my-2 my-lg-0">
            {% for item in site.data.navs.right.items %}
              <a class="btn btn-success my-2 my-sm-0 {{ item.classes }}" id="{{ item.link_urlname }}" href="{{ item.href }}">{{ item.pre_content_icons }} {{ item.link_name }}</a>
            {% endfor %}
        </ul>
    </div>
</nav>