<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% include bootstrap-head.html %}
    <title>{{ page.title }}</title>
    
  </head>
  <body class="bg-dark">
    <div class="container site-header bg-dark">
      {% include nav.html %}
    </div>
    <div class="container page-header bg-dark">
      <h1>{{ page.title }}</h1>
    </div>
    <div class="container page-content bg-dark">
      {{ content }}
    </div>
    <div class="container page-footer bg-dark">
    <div class="d-flex bg-dark">
      <div class="flex-fill"> <!-- First -->
        <div class="">
          <a href="https://discord.gg/Jbht3w"><i>DiscordPlaceHolder</i></a>
        </div>
      </div>
      <div class="flex-fill text-right"> <!-- Last -->
        <div class="">
          &copy; {{ "now" | date: "%Y" }} {{site.author}}
        </div>
      </div>
      </div>
    </div>
    {% include bootstrap-tail.html %}
  </body>
</html>